//Color primary

$primary: #229A87;
$primary-dark: #36A593;

//Color secondary
$secondary: #282929;
$secondary-light: #B7C2BF;
$secondary-lighter: #8D8D8D;
$secondary-lightest: #535353;

$white: #fff;

$border-radius: 6px;